@media screen and (min-width: 900px) {
    .main {
        width: 48vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        padding: 5px;

    }

    .data {
        width: 99%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dp {
        height: 30px;
        width: 30px;
        border-radius: 20px;
        object-fit: cover;
        margin-right: 10px;
    }

    .t1 {
        font-weight: 600;
    }

    .t2 {
        /* color: grey; */
        font-size: 15px;
        font-weight: 500;
    }

    .img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .interactions {
        display: flex;
    }

    .likes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .likecountdiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .likecount {

        text-align: left;
        font-weight: bold;
        padding: 0 10px;
        margin: 4px 0;
        cursor: pointer;
    }

    .commentcount {
        text-align: left;
        font-weight: bold;
        padding: 0 10px;
        margin: 4px 0;
        cursor: pointer;
    }

    .counts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .countdiv {
        display: flex;
    }

    .icon {
        font-size: 25px;
        margin: 10px 10px;
    }

    .count {
        font-size: 18px;
        margin: 10px 15px;
    }

    .icon:first-child {
        color: red;
    }

    .desc {
        padding: 0 10px;
        font-weight: 500;
        /* color: rgb(44, 44, 44); */
        margin: 4px 0;
    }

    .inputs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }

    .input {
        margin: 0 10px;
        width: 35vw;
        height: 35px;
        padding: 0 10px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 15px;
        color: rgb(255, 255, 255);
        transition: 300ms ease-in-out;
        border-radius: 20px;
    }

    .input:focus {
        background-color: rgb(38, 38, 38);
        transition: 300ms ease-in-out;
    }

    .input::placeholder {
        color: rgb(187, 158, 163);


    }

    .post,
    .post:active,
    .post:focus {
        color: rgb(171, 171, 255);
        border: none;
        outline: none;
        background-color: transparent;
        font-weight: bolder;
    }

    @media (prefers-color-scheme: dark) {
        .main {
            background-color: rgb(19, 19, 19);
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 520px) {
    .main {
        width: 75vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        padding: 5px;

    }

    .data {
        width: 96%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dp {
        height: 30px;
        width: 30px;
        border-radius: 20px;
        object-fit: cover;
        margin-right: 10px;
    }

    .t1 {
        font-weight: 600;
    }

    .t2 {
        /* color: grey; */
        font-size: 15px;
        font-weight: 500;
    }

    .img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .likes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icon {
        font-size: 25px;
        margin: 10px 10px;
    }

    .icon:first-child {
        color: red;
    }

    .desc {
        padding: 0 10px;
        font-weight: 500;
        /* color: rgb(44, 44, 44); */
        margin: 4px 0;
    }

    .interactions {
        display: flex;
    }

    .likes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .likecountdiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .likecount {

        text-align: left;
        font-weight: bold;
        padding: 0 10px;
        margin: 4px 0;
        cursor: pointer;
    }

    .commentcount {
        text-align: left;
        font-weight: bold;
        padding: 0 10px;
        margin: 4px 0;
        cursor: pointer;
    }

    .counts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .countdiv {
        display: flex;
    }

    .icon {
        font-size: 25px;
        margin: 10px 10px;
    }

    .count {
        font-size: 18px;
        margin: 10px 15px;
    }


    .inputs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }

    .input {
        margin: 0 10px;
        width: 55vw;
        height: 35px;
        padding: 0 10px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 15px;
        color: rgb(255, 255, 255);
        transition: 300ms ease-in-out;
        border-radius: 20px;
    }

    .input:focus {
        background-color: rgb(38, 38, 38);
        transition: 300ms ease-in-out;
    }

    .input::placeholder {
        color: rgb(187, 158, 163);


    }

    .post,
    .post:active,
    .post:focus {
        color: rgb(171, 171, 255);
        border: none;
        outline: none;
        background-color: transparent;
        font-weight: bolder;
    }

    @media (prefers-color-scheme: dark) {
        .main {
            background-color: rgb(19, 19, 19);
        }
    }
}

@media screen and (max-width: 520px) {
    .main {
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* height: 800px; */
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        padding: 5px;

    }

    .data {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dp {
        height: 30px;
        width: 30px;
        border-radius: 20px;
        object-fit: cover;
        margin-right: 10px;
    }

    .t1 {
        font-weight: 600;
    }

    .t2 {
        /* color: grey; */
        font-size: 15px;
        font-weight: 500;
    }

    .img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .likes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icon {
        font-size: 25px;
        margin: 10px 10px;
    }

    .icon:first-child {
        color: red;
    }

    .likes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icon {
        font-size: 25px;
        margin: 10px 10px;
    }

    .icon:first-child {
        color: red;
    }

    .desc {
        padding: 0 10px;
        font-weight: 500;
        /* color: rgb(44, 44, 44); */
        margin: 4px 0;
    }

    .interactions {
        display: flex;
    }

    .likes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .likecountdiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .likecount {

        text-align: left;
        font-weight: bold;
        padding: 0 10px;
        margin: 4px 0;
        cursor: pointer;
    }

    .commentcount {
        text-align: left;
        font-weight: bold;
        padding: 0 10px;
        margin: 4px 0;
        cursor: pointer;
    }

    .counts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .countdiv {
        display: flex;
    }

    .icon {
        font-size: 25px;
        margin: 10px 10px;
    }

    .count {
        font-size: 18px;
        margin: 10px 15px;
    }


    .inputs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }

    .input {
        margin: 0 10px;
        width: 70vw;
        height: 35px;
        padding: 0 10px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 15px;
        color: rgb(255, 255, 255);
        transition: 300ms ease-in-out;
        border-radius: 20px;
    }

    .input:focus {
        background-color: rgb(38, 38, 38);
        transition: 300ms ease-in-out;
    }

    .input::placeholder {
        color: rgb(187, 158, 163);


    }

    .post,
    .post:active,
    .post:focus {
        color: rgb(171, 171, 255);
        border: none;
        outline: none;
        background-color: transparent;
        font-weight: bolder;
    }


    @media (prefers-color-scheme: dark) {
        .main {
            background-color: rgb(19, 19, 19);
        }
    }
}