@media screen and (min-width: 900px) {
    .comment_img {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .commentimg {
        width: 98%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        background-position: center;
    }

    .comments {
        width: 40%;
        height: 100%;
        padding: 0 10px;
    }

    .allcomments {
        height: 80%;
        width: 100%;
        background-color: #ffffff;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .commentcard {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5px;
    }

    .avatar {
        inset: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 40px;
        background-color: rgb(216, 210, 210);
        border-radius: 30px;
        border: 2px solid rgb(248, 131, 150);
        margin: 0;
    }

    .commentdata {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 0;
        margin-left: 10px;
        padding: 0;
    }

    .commentuser {
        margin: 0;
        font-weight: 600;
    }

    .commentvalue {
        margin: 0;
        font-size: 15px;
        color: rgb(29, 28, 28);
    }

    .like {
        margin-right: 10px;
        cursor: pointer;
    }

    .interactions {
        display: flex;
        flex-direction: row;
    }

    .commenttime,
    .commentlikes {
        padding-right: 10px;
        font-size: 14px;
        color: grey;
        margin: 5px;
    }

    .replybutton,
    .replybutton:active,
    .replybutton:focus {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        color: grey;
        margin: 0;
        padding: 5px;
    }

    .viewReplyButton,
    .viewReplyButton:focus,
    .viewReplyButton:active {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        color: grey;
        margin: 0;
        padding: 5px;
    }

    .viewReplyDiv {
        display: flex;
        align-items: center;
    }

    .line {
        width: 40px;
        height: 0;
        border-bottom: 1px solid;
        margin-right: 10px;
        color: grey;
    }

    @media (prefers-color-scheme: dark) {
        .allcomments {
            background-color: #000000;
        }

        .avatar {
            background-color: black;
        }

        .commentvalue {
            color: rgb(212, 212, 212);
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 520px) {


    .comment_img {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;

    }

    .commentimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        background-position: center;

    }

    .comments {
        width: 100%;
        height: 50%;
        padding: 10px 0;
    }

    .allcomments {
        height: 80%;
        width: 100%;
        background-color: #ffffff;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .commentcard {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5px;
    }

    .avatar {
        inset: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 40px;
        background-color: rgb(216, 210, 210);
        border-radius: 30px;
        border: 2px solid rgb(248, 131, 150);
        margin: 0;
    }

    .commentdata {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .commentuser {
        margin: 0;
        font-weight: 600;
    }

    .commentvalue {
        margin: 0;
        font-size: 15px;
        color: rgb(29, 28, 28);
    }

    .like {
        margin-right: 10px;
        cursor: pointer;
    }

    .interactions {
        display: flex;
        flex-direction: row;
    }

    .commenttime,
    .commentlikes {
        padding-right: 10px;
        font-size: 14px;
        color: grey;
        margin: 5px;
    }

    .replybutton,
    .replybutton:active,
    .replybutton:focus {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        color: grey;
        margin: 0;
        padding: 5px;
    }

    .viewReplyButton,
    .viewReplyButton:focus,
    .viewReplyButton:active {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        color: grey;
        margin: 0;
        padding: 5px;
    }

    .viewReplyDiv {
        display: flex;
        align-items: center;
    }

    .line {
        width: 40px;
        height: 0;
        border-bottom: 1px solid;
        margin-right: 10px;
        color: grey;
    }



    @media (prefers-color-scheme: dark) {
        .comment_div {
            background-color: black;
        }

        .allcomments {
            background-color: #000000;
        }

        .avatar {
            background-color: black;
        }

        .commentvalue {
            color: grey;
        }
    }
}

@media screen and (max-width: 520px) {
    .comment_div {
        display: flex;
        flex-direction: column;
        height: 95vh;
        width: 90vw;
        /* background-color: rgb(102, 102, 102); */
        padding: 20px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }

    .comment_img {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;

    }

    .commentimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        background-position: center;

    }

    .comments {
        width: 100%;
        height: 50%;
        padding: 10px 0;
    }

    .allcomments {
        height: 80%;
        width: 100%;
        background-color: #ffffff;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .commentcard {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5px;
    }

    .avatar {
        inset: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 40px;
        background-color: rgb(216, 210, 210);
        border-radius: 30px;
        border: 2px solid rgb(248, 131, 150);
        margin: 0;
    }

    .commentdata {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 10px;
    }

    .commentuser {
        margin: 0;
        font-weight: 600;
    }

    .commentvalue {
        margin: 0;
        font-size: 15px;
        color: rgb(29, 28, 28);
    }

    .like {
        margin-right: 10px;
        cursor: pointer;
    }

    .interactions {
        display: flex;
        flex-direction: row;
    }

    .commenttime,
    .commentlikes {
        padding-right: 10px;
        font-size: 14px;
        color: grey;
        margin: 5px;
    }

    .replybutton,
    .replybutton:active,
    .replybutton:focus {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        color: grey;
        margin: 0;
        padding: 5px;
    }

    .viewReplyButton,
    .viewReplyButton:focus,
    .viewReplyButton:active {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        color: grey;
        margin: 0;
        padding: 5px;
    }

    .viewReplyDiv {
        display: flex;
        align-items: center;
    }

    .line {
        width: 40px;
        height: 0;
        border-bottom: 1px solid;
        margin-right: 10px;
        color: grey;
    }



    @media (prefers-color-scheme: dark) {
        .comment_div {
            background-color: black;
        }

        .allcomments {
            background-color: #000000;
        }

        .avatar {
            background-color: black;
        }

        .commentvalue {
            color: grey;
        }
    }
}